@import "./config-scss/variables.scss";
@import "./config-scss/reset.scss";
@import "./config-scss/rem-calc.scss";

html {
  font-family: "Press Start 2P", cursive;
  background: var(--primary-color);
}
main {
  width: rem-calc(600);
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
}
